In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
df_feature = pd.read_csv('feature_frames.csv')

In [3]:
df_feature.head()

,variant_id,product_type,order_id,user_id,created_at,order_date,user_order_seq,outcome,ordered_before,abandoned_before,...,count_children,count_babies,count_pets,people_ex_baby,days_since_purchase_variant_id,avg_days_to_buy_variant_id,std_days_to_buy_variant_id,days_since_purchase_product_type,avg_days_to_buy_product_type,std_days_to_buy_product_type
0,33826472919172,ricepastapulses,2807985930372,3482464092292,2020-10-05 16:46:19,2020-10-05 00:00:00,3,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618
1,33826472919172,ricepastapulses,2808027644036,3466586718340,2020-10-05 17:59:51,2020-10-05 00:00:00,2,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618
2,33826472919172,ricepastapulses,2808099078276,3481384026244,2020-10-05 20:08:53,2020-10-05 00:00:00,4,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618
3,33826472919172,ricepastapulses,2808393957508,3291363377284,2020-10-06 08:57:59,2020-10-06 00:00:00,2,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618
4,33826472919172,ricepastapulses,2808429314180,3537167515780,2020-10-06 10:37:05,2020-10-06 00:00:00,3,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618

In [4]:
df_feature.columns

Index(['variant_id', 'product_type', 'order_id', 'user_id', 'created_at',
       'order_date', 'user_order_seq', 'outcome', 'ordered_before',
       'abandoned_before', 'active_snoozed', 'set_as_regular',
       'normalised_price', 'discount_pct', 'vendor', 'global_popularity',
       'count_adults', 'count_children', 'count_babies', 'count_pets',
       'people_ex_baby', 'days_since_purchase_variant_id',
       'avg_days_to_buy_variant_id', 'std_days_to_buy_variant_id',
       'days_since_purchase_product_type', 'avg_days_to_buy_product_type',
       'std_days_to_buy_product_type'],
      dtype='object')

In [5]:
df_feature.describe()

,variant_id,order_id,user_id,user_order_seq,outcome,ordered_before,abandoned_before,active_snoozed,set_as_regular,normalised_price,...,count_children,count_babies,count_pets,people_ex_baby,days_since_purchase_variant_id,avg_days_to_buy_variant_id,std_days_to_buy_variant_id,days_since_purchase_product_type,avg_days_to_buy_product_type,std_days_to_buy_product_type
count,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,...,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06
mean,3.401250e+13,2.978388e+12,3.750025e+12,3.289342e+00,1.153669e-02,2.113868e-02,6.092589e-04,2.290188e-03,3.629864e-03,1.272808e-01,...,5.492182e-02,3.538562e-03,5.134091e-02,2.072549e+00,3.312961e+01,3.523734e+01,2.645304e+01,3.143513e+01,3.088810e+01,2.594969e+01
std,2.786246e+11,2.446292e+11,1.775710e+11,2.140176e+00,1.067876e-01,1.438466e-01,2.467565e-02,4.780109e-02,6.013891e-02,1.268378e-01,...,3.276586e-01,5.938048e-02,3.013646e-01,3.943659e-01,3.707162e+00,1.057766e+01,7.168323e+00,1.227511e+01,4.330262e+00,3.278860e+00
min,3.361529e+13,2.807986e+12,3.046041e+12,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.599349e-02,...,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.414214e+00,0.000000e+00,7.000000e+00,2.828427e+00
25%,3.380354e+13,2.875152e+12,3.745901e+12,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.394416e-02,...,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,3.300000e+01,3.000000e+01,2.319372e+01,3.000000e+01,2.800000e+01,2.427618e+01
50%,3.397325e+13,2.902856e+12,3.812775e+12,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.105178e-02,...,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,3.300000e+01,3.400000e+01,2.769305e+01,3.000000e+01,3.100000e+01,2.608188e+01
75%,3.428495e+13,2.922034e+12,3.874925e+12,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.352670e-01,...,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,3.300000e+01,4.000000e+01,3.059484e+01,3.000000e+01,3.400000e+01,2.796118e+01
max,3.454300e+13,3.643302e+12,5.029635e+12,2.100000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,3.000000e+00,1.000000e+00,6.000000e+00,5.000000e+00,1.480000e+02,8.400000e+01,5.868986e+01,1.480000e+02,3.950000e+01,3.564191e+01

In [6]:
"""
# Assuming numerical_cols is the list of float columns we're interested in and 'outcome' is a binary column in the dataframe
numerical_cols = ['count_adults', 'count_children', 'count_babies', 'count_pets', 'avg_days_to_buy_product_type']
outcome_exists = 'outcome' in df_feature.columns  # Checking if 'outcome' column exists in the dataframe

if outcome_exists:
    cols = 3
    rows = int(np.ceil(len(numerical_cols) / cols))
    fig, ax = plt.subplots(rows, cols, figsize=(20, 5*rows))
    ax = ax.flatten()

    for i, col in enumerate(numerical_cols):
        sns.kdeplot(df_feature.loc[lambda x: x.outcome == 0, col], label='0', ax=ax[i])
        sns.kdeplot(df_feature.loc[lambda x: x.outcome == 1, col], label='1', ax=ax[i])
        ax[i].set_title(col)

    ax[0].legend()

    plt.tight_layout()
else:
    print("The 'outcome' column does not exist in the dataframe.")
    """

'\n# Assuming numerical_cols is the list of float columns we\'re interested in and \'outcome\' is a binary column in the dataframe\nnumerical_cols = [\'count_adults\', \'count_children\', \'count_babies\', \'count_pets\', \'avg_days_to_buy_product_type\']\noutcome_exists = \'outcome\' in df_feature.columns  # Checking if \'outcome\' column exists in the dataframe\n\nif outcome_exists:\n    cols = 3\n    rows = int(np.ceil(len(numerical_cols) / cols))\n    fig, ax = plt.subplots(rows, cols, figsize=(20, 5*rows))\n    ax = ax.flatten()\n\n    for i, col in enumerate(numerical_cols):\n        sns.kdeplot(df_feature.loc[lambda x: x.outcome == 0, col], label=\'0\', ax=ax[i])\n        sns.kdeplot(df_feature.loc[lambda x: x.outcome == 1, col], label=\'1\', ax=ax[i])\n        ax[i].set_title(col)\n\n    ax[0].legend()\n\n    plt.tight_layout()\nelse:\n    print("The \'outcome\' column does not exist in the dataframe.")\n    '

In [7]:


# Calcula las frecuencias de las categorÃ­as
freq_product_type = df_feature['product_type'].value_counts() / len(df_feature)
freq_vendor = df_feature['vendor'].value_counts() / len(df_feature)

# Mapea las frecuencias a las columnas originales
df_feature['product_type'] = df_feature['product_type'].map(freq_product_type)
df_feature['vendor'] = df_feature['vendor'].map(freq_vendor)

In [8]:
df_feature.head

<bound method NDFrame.head of              variant_id  product_type       order_id        user_id  \
0        33826472919172      0.044470  2807985930372  3482464092292
1        33826472919172      0.044470  2808027644036  3466586718340
2        33826472919172      0.044470  2808099078276  3481384026244
3        33826472919172      0.044470  2808393957508  3291363377284
4        33826472919172      0.044470  2808429314180  3537167515780
...                 ...           ...            ...            ...
2880544  33826439594116      0.007178  3643254800516  3893722808452
2880545  33826439594116      0.007178  3643274788996  3883757174916
2880546  33826439594116      0.007178  3643283734660  3874925314180
2880547  33826439594116      0.007178  3643294515332  3906490826884
2880548  33826439594116      0.007178  3643301986436  3914253959300

                  created_at           order_date  user_order_seq  outcome  \
0        2020-10-05 16:46:19  2020-10-05 00:00:00               3      0.0
1        2020-10-05 17:59:51  2020-10-05 00:00:00               2      0.0
2        2020-10-05 20:08:53  2020-10-05 00:00:00               4      0.0
3        2020-10-06 08:57:59  2020-10-06 00:00:00               2      0.0
4        2020-10-06 10:37:05  2020-10-06 00:00:00               3      0.0
...                      ...                  ...             ...      ...
2880544  2021-03-03 13:19:28  2021-03-03 00:00:00               3      0.0
2880545  2021-03-03 13:57:35  2021-03-03 00:00:00               4      0.0
2880546  2021-03-03 14:14:24  2021-03-03 00:00:00               7      0.0
2880547  2021-03-03 14:30:30  2021-03-03 00:00:00               2      0.0
2880548  2021-03-03 14:42:05  2021-03-03 00:00:00               3      0.0

         ordered_before  abandoned_before  ...  count_children  count_babies  \
0                   0.0               0.0  ...             0.0           0.0
1                   0.0               0.0  ...             0.0           0.0
2                   0.0               0.0  ...             0.0           0.0
3                   0.0               0.0  ...             0.0           0.0
4                   0.0               0.0  ...             0.0           0.0
...                 ...               ...  ...             ...           ...
2880544             0.0               0.0  ...             0.0           0.0
2880545             0.0               0.0  ...             0.0           0.0
2880546             0.0               0.0  ...             0.0           0.0
2880547             0.0               0.0  ...             0.0           0.0
2880548             0.0               0.0  ...             0.0           0.0

         count_pets  people_ex_baby  days_since_purchase_variant_id  \
0               0.0             2.0                            33.0
1               0.0             2.0                            33.0
2               0.0             2.0                            33.0
3               0.0             2.0                            33.0
4               0.0             2.0                            33.0
...             ...             ...                             ...
2880544         0.0             2.0                            33.0
2880545         0.0             2.0                            33.0
2880546         0.0             2.0                            33.0
2880547         0.0             2.0                            33.0
2880548         0.0             2.0                            33.0

         avg_days_to_buy_variant_id  std_days_to_buy_variant_id  \
0                              42.0                   31.134053
1                              42.0                   31.134053
2                              42.0                   31.134053
3                              42.0                   31.134053
4                              42.0                   31.134053
...                             ...                         ...
2880544                        34.0                   27.693045
2880545                        34.0                   27.693045
2880546                        34.0                   27.693045
2880547                        34.0                   27.693045
2880548                        34.0                   27.693045

         days_since_purchase_product_type  avg_days_to_buy_product_type  \
0                                    30.0                          30.0
1                                    30.0                          30.0
2                                    30.0                          30.0
3                                    30.0                          30.0
4                                    30.0                          30.0
...                                   ...                           ...
2880544                              30.0                          34.0
2880545                              30.0                          34.0
2880546                              30.0                          34.0
2880547                              30.0                          34.0
2880548                              30.0                          34.0

         std_days_to_buy_product_type
0                           24.276180
1                           24.276180
2                           24.276180
3                           24.276180
4                           24.276180
...                               ...
2880544                     27.451392
2880545                     27.451392
2880546                     27.451392
2880547                     27.451392
2880548                     27.451392

[2880549 rows x 27 columns]>

In [9]:
import pandas as pd

# Asumiendo que 'df' es tu DataFrame y 'order_date' y 'created_at' son tus columnas de fecha

# Primero, asegÃºrate de que pandas reconoce tus columnas de fecha como datetime
df_feature['order_date'] = pd.to_datetime(df_feature['order_date'])
df_feature['created_at'] = pd.to_datetime(df_feature['created_at'])

# Descomponer 'order_date' en aÃ±o, mes y dÃ­a
df_feature['order_year'] = df_feature['order_date'].dt.year
df_feature['order_month'] = df_feature['order_date'].dt.month
df_feature['order_day'] = df_feature['order_date'].dt.day

# Extraer informaciÃ³n de la hora de 'created_at'
df_feature['created_hour'] = df_feature['created_at'].dt.hour

# Opcional: Extraer mÃ¡s caracterÃ­sticas como dÃ­a de la semana o si es fin de semana
df_feature['order_dayofweek'] = df_feature['order_date'].dt.dayofweek
df_feature['order_is_weekend'] = df_feature['order_date'].dt.dayofweek >= 5

# Ahora puedes eliminar las columnas originales de fecha si ya no las necesitas
df_feature.drop(['order_date', 'created_at'], axis=1, inplace=True)

In [10]:
print(df_feature.shape)
df_feature.describe()

(2880549, 31)

,variant_id,product_type,order_id,user_id,user_order_seq,outcome,ordered_before,abandoned_before,active_snoozed,set_as_regular,...,avg_days_to_buy_variant_id,std_days_to_buy_variant_id,days_since_purchase_product_type,avg_days_to_buy_product_type,std_days_to_buy_product_type,order_year,order_month,order_day,created_hour,order_dayofweek
count,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,...,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06,2.880549e+06
mean,3.401250e+13,2.762532e-02,2.978388e+12,3.750025e+12,3.289342e+00,1.153669e-02,2.113868e-02,6.092589e-04,2.290188e-03,3.629864e-03,...,3.523734e+01,2.645304e+01,3.143513e+01,3.088810e+01,2.594969e+01,2.020684e+03,4.696157e+00,1.549961e+01,1.424203e+01,2.905320e+00
std,2.786246e+11,1.874006e-02,2.446292e+11,1.775710e+11,2.140176e+00,1.067876e-01,1.438466e-01,2.467565e-02,4.780109e-02,6.013891e-02,...,1.057766e+01,7.168323e+00,1.227511e+01,4.330262e+00,3.278860e+00,4.649840e-01,4.523839e+00,8.743562e+00,4.741962e+00,2.028230e+00
min,3.361529e+13,9.095488e-04,2.807986e+12,3.046041e+12,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,1.414214e+00,0.000000e+00,7.000000e+00,2.828427e+00,2.020000e+03,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,3.380354e+13,1.575429e-02,2.875152e+12,3.745901e+12,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,3.000000e+01,2.319372e+01,3.000000e+01,2.800000e+01,2.427618e+01,2.020000e+03,1.000000e+00,8.000000e+00,1.100000e+01,1.000000e+00
50%,3.397325e+13,2.015866e-02,2.902856e+12,3.812775e+12,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,3.400000e+01,2.769305e+01,3.000000e+01,3.100000e+01,2.608188e+01,2.021000e+03,2.000000e+00,1.600000e+01,1.400000e+01,3.000000e+00
75%,3.428495e+13,3.826875e-02,2.922034e+12,3.874925e+12,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,4.000000e+01,3.059484e+01,3.000000e+01,3.400000e+01,2.796118e+01,2.021000e+03,1.100000e+01,2.300000e+01,1.800000e+01,5.000000e+00
max,3.454300e+13,7.862182e-02,3.643302e+12,5.029635e+12,2.100000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,8.400000e+01,5.868986e+01,1.480000e+02,3.950000e+01,3.564191e+01,2.021000e+03,1.200000e+01,3.100000e+01,2.300000e+01,6.000000e+00

In [11]:
import pandas as pd
from sklearn.model_selection import GroupShuffleSplit


group_column = 'user_id'
# Inicializa el divisor con GroupShuffleSplit
gss = GroupShuffleSplit(n_splits=1, train_size=0.7, test_size=0.3, random_state=42)

# Realiza la divisiÃ³n manteniendo 'user_id' o 'order_id' agrupados
for train_idx, test_idx in gss.split(df_feature, groups=df_feature[group_column]):
    train_val = df_feature.iloc[train_idx]
    test = df_feature.iloc[test_idx]

# Elimina la columna 'outcome' para obtener X_train_val y X_test
X_train_val = train_val.drop('outcome', axis=1).values
X_test = test.drop('outcome', axis=1).values
y_train_val = train_val['outcome'].values
y_test = test['outcome'].values

# Ahora divide train_val en train y val
train_val_gss = GroupShuffleSplit(n_splits=1, train_size=(5/7), test_size=(2/7), random_state=42)

for train_idx, val_idx in train_val_gss.split(train_val, groups=train_val[group_column]):
    train = train_val.iloc[train_idx]
    val = train_val.iloc[val_idx]

# Finalmente, elimina la columna 'outcome' para obtener X_train, X_val y sus respectivos y
X_train = train.drop('outcome', axis=1).values
X_val = val.drop('outcome', axis=1).values
y_train = train['outcome'].values
y_val = val['outcome'].values

# Ahora puedes eliminar la columna 'outcome' de df_feature si fue aÃ±adida solo para la divisiÃ³n
df_feature.drop('outcome', axis=1, inplace=True)

In [12]:
print(X_train.shape)  
print(X_train_val.shape)  
print(X_test.shape)  

print(y_train.shape)  
print(y_train_val.shape)  
print(y_test.shape)

(1446128, 30)
(2014908, 30)
(865641, 30)
(1446128,)
(2014908,)
(865641,)

Ahora tenemos train, val y test sin leakage de 'user_id' o 'order_id' , si agrupamos por user, eso engloba order id , puesto q en la misma orden el user es el mismo

In [ ]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

scaler = StandardScaler()

# Normalizar solo las columnas que no son cÃ­clicas o no numÃ©ricas
X_train_s = scaler.fit_transform(X_train)
X_val_s= scaler.transform(X_val)
X_test_s= scaler.transform(X_test)

In [14]:
print('TRAINING SET')
print('Mean of each feature: ', np.round(np.mean(X_train_s,0),2))
print('Std of each feature: ', np.round(np.std(X_train_s,0),2))
print('\nVALIDATION SET')
print('Mean of each feature: ', np.round(np.mean(X_val_s,0),2))
print('Std of each feature: ', np.round(np.std(X_val_s,0),2))
print('\nTEST SET')
print('Mean of each feature: ', np.round(np.mean(X_test_s,0),2))
print('Std of each feature: ', np.round(np.std(X_test_s,0),2))

TRAINING SET

NameError: name 'X_train_s' is not defined